@font-face {
    font-family: "redhat";
    src: url("font/RedHatDisplay-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "redhat", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

section {
    position: relative;
    /* overflow-x: hidden; */
}

/* Section 1 */
.section_1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("img/section_1/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -99;
}

.section_1 img,
.section_2 img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.section_1 img:nth-child(2),
.section_2 img:nth-child(3) {
    z-index: -1;
}

.section_1 img:nth-child(3) {
    z-index: -1;
    width: auto;
    right: 0;
    height: 100vh;
    bottom: -10px;
}

.section_1 img:nth-child(4),
.section_2 img:nth-child(4) {
    z-index: -2;
}

.section_1 img:nth-child(5),
.section_2 img:nth-child(5) {
    z-index: -3;
}

.section_1 img:nth-child(6) {
    z-index: -3;
    width: auto;
    top: 50px;
    right: 0;
}

.section_1 .text {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 100vh;
    width: 100%;
    z-index: -2;
    font-weight: 900;
    opacity: 0;
    transition-duration: 2s;
    transition-property: font-size, opacity;
}

.section_1 .text.transform {
    opacity: 1;
    font-size: 1.8em;
}

.section_1 .text span {
    color: red;
}

/* Section 2 */
.content {
    background: linear-gradient(#1f0c03, #702322);
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.content .judul,
.paragraf {
    margin: 20px 0;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}
.paragraf {
    transition-delay: 0.5s;
}

.content .judul.muncul,
.paragraf.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

/* Section 3 */
.section_2 {
    background: linear-gradient(to bottom, rgba(112, 35, 34, 1), rgba(0, 0, 0, 0)), url("img/section_2/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -99;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.pesawat {
    position: relative;
}

@keyframes plane {
    0% {
        right: -200px;
        transform: translateX(0);
    }
    50% {
        right: 50%;
        transform: translateX(50%);
    }
    100% {
        right: 100vw;
        transform: translateX(0);
    }
}

.pesawat img {
    position: absolute;
    top: 0;
    width: 200px;
    height: auto;
    animation-name: plane;
    animation-duration: 5s;
    transition: 2s;
    animation-iteration-count: infinite;
}

.section_2 .bg img:nth-child(4) {
    opacity: 0;
    transition: 2s;
    object-fit: contain;
}

.section_2 .bg img:nth-child(4).show {
    opacity: 1;
}

.kisahBomAtom,
.rapat {
    position: absolute;
    width: 300px;
    top: 50px;
    left: 50px;
    color: white;
}

.rapat2 {
    position: absolute;
    width: 300px;
    bottom: 100px;
    right: 50px;
    color: white;
}

.judul {
    margin: 20px 0;
}

.judul,
.paragraf {
    opacity: 0;
    transition: 2s;
    transform: translateX(-200px);
    padding-left: 10px;
}

/* section 4 */
.section_3 {
    /* position: relative; */
    top: 0;
    background-image: linear-gradient(rgba(33, 4, 4, 1) 5%, rgba(0, 0, 0, 0)), url("img/section_3/download.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -99;
}

.section_3 .paragraf {
    border-left: 2px solid salmon;
}

.paragraf2 {
    opacity: 0;
    transition: 2s;
    transform: translateX(200px);
    padding-right: 10px;
    border-right: 2px solid salmon;
    text-align: right;
}

.judul.show,
.paragraf.show,
.paragraf2.show {
    opacity: 1;
    transform: translateX(0);
}

/* Section 5 */
.section_4 {
    position: relative;
    background-image: url("img/section_3/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -99;
    width: 100%;
    height: 100vh;
}

.section_4 .box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-image: linear-gradient(#16161a, #242629);
    color: white;
    padding: 20px 30px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    opacity: 1;
    /* overflow: visible; */
}

.section_4 .box .judul,
.section_4 .box .paragraf {
    padding-bottom: 20px;
    opacity: 1;
    transform: translate(0, 0);
}

.bold {
    font-weight: bold;
}

.section_4 .prok {
    padding-top: 20%;
    padding-left: 50px;
    display: flex;
    max-width: 800px;
    color: white;
    opacity: 0;
    transform: translateX(-200px);
    transition: 2s;
}

.section_4 .prok.show,
.section_4 .prok.pr.show {
    opacity: 1;
    transform: translateX(0);
}

.section_4 .prokParagraf {
    padding-left: 20px;
}

.section_4 .prok.pr {
    position: absolute;
    right: 50px;
    bottom: 50px;
    opacity: 0;
    transform: translateX(100px);
    transition: 2s;
}

.section_4 .prokParagraf.pp {
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
}

.section_4 .prok img {
    width: 250px;
}

/* Section 6 */
.section_5 {
    /* background-image: url("img/section_4/soekarno\ \(2\).png"); */
    background-image: linear-gradient(#16161a, #242629);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

.proklamasi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.proklamasi p {
    max-width: 500px;
    padding-right: 50px;
}

.section_5 .proklamasi img {
    padding-top: 100px;
    object-fit: contain;
    width: 500px;
}

.section_5 .proklamasi .audio {
    margin-right: 44%;
}

.section_5 .proklamasi .audio img {
    width: 100px;
    margin-right: 80%;
}

#toggleButton {
    background: none;
    border: none;
    cursor: pointer;
}

.hidden-character {
    opacity: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.audio audio {
    display: none;
}

#textTyping {
    width: 500px;
}

.boxProk {
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    width: 40%;
    height: 28%;
}

.boxProk2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 40%;
    height: 25%;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.gallery-container img {
    width: 200px;
}

.image {
    right: 3%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}
.active {
    opacity: 1;
}

/* Bendera */
.bendera {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    left: -10px;
    right: -10px;
    height: 100px;
    overflow: hidden;
}

.flag {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    overflow: hidden;
}

.flag::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 150px solid red;
    border-bottom: 150px solid white;
    box-sizing: border-box;
    filter: url(#wavy);
}

.flag::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(225, 225, 225, 0.2);
    filter: url(#wavy);
}

svg {
    width: 0;
    height: 0;
}

/* Media Queries */
/* Phone */
@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .section_1 img,
    .section_2 img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .section_1 img {
        object-fit: contain;
        bottom: 0;
    }

    .section_1 img:nth-child(3) {
        width: 100%;
        height: auto;
    }

    .section_1 .text {
        opacity: 0;
        font-size: 0.5em;
        transition: 2s;
    }

    .section_1 .text.transform {
        font-size: 1.2em;
        opacity: 1;
    }

    .judul {
        font-size: 1.5em;
    }

    .rapat {
        top: 10%;
    }

    .rapat2 {
        bottom: 15%;
    }

    .paragraf,
    .paragraf2 {
        font-size: 0.8em;
    }

    .pesawat img {
        width: 200px;
        top: 5%;
        animation-duration: 5s;
    }

    .kisahBomAtom {
        top: 20%;
        text-align: center;
    }

    .section_4 {
        height: auto;
    }

    .section_4 .box {
        padding: 10px 20px;
    }

    .box .judul {
        padding-bottom: 10px;
    }

    .box .judul,
    .box .paragraf {
        color: white;
        transform: translate(0, 0);
        opacity: 1;
    }

    .section_4 .prok,
    .section_4 .prok.pr {
        display: block;
        max-width: none;
        width: 100%;
        padding-left: 0;
        padding-top: 68%;
        opacity: 0;
        transform: translate(-200px, 0);
        text-align: center;
    }

    .section_4 .prok.show,
    .section_4 .prok.pr.show {
        opacity: 1;
        transform: translateX(0);
    }

    .section_4 .prok .prokParagraf {
        text-align: justify;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .section_4 .prok img {
        width: 200px;
        padding-bottom: 20px;
    }

    .section_4 .prok.pr {
        position: static;
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section_4 .prok.pr .prokParagraf.pp {
        padding: 0 20px 50px 20px;
    }

    /* .bendera {
        height: 100px;
    } */

    .section_5 .proklamasi {
        padding-top: 30%;
    }

    .section_5 .proklamasi img {
        width: 50%;
    }

    .section_5 .proklamasi .audio img {
        width: 50px;
    }

    .image {
        bottom: 5%;
        right: -20%;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1080px) {
    body {
        overflow-x: hidden;
    }
    .section_1 img,
    .section_2 img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .section_1 img {
        object-fit: contain;
        bottom: 0;
    }

    .section_1 img:nth-child(3) {
        width: 100%;
        height: auto;
    }

    .judul {
        font-size: 2em;
    }

    .paragraf,
    .paragraf2,
    .prokParagraf {
        font-size: 1.5em;
    }

    .pesawat img {
        top: 10%;
        width: 40%;
    }

    .kisahBomAtom {
        top: 10%;
        width: auto;
        text-align: center;
        right: 50px;
    }

    .box .judul,
    .box .paragraf {
        color: white;
        transform: translate(0, 0);
        opacity: 1;
    }

    .section_4 .prok,
    .section_4 .prok.pr {
        display: block;
        max-width: none;
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-top: 45%;
        opacity: 0;
        transform: translate(-200px, 0);
        text-align: center;
    }

    .section_4 .prok.show,
    .section_4 .prok.pr.show {
        opacity: 1;
        transform: translateX(0);
    }

    .section_4 .prok .prokParagraf {
        text-align: justify;
        padding-right: 20px;
        padding-bottom: 50px;
    }

    .section_4 .prok img {
        padding-bottom: 20px;
        width: 350px;
    }

    .section_4 .prok.pr {
        position: static;
        padding-top: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section_4 .prok.pr .prokParagraf.pp {
        padding: 0 20px 100px 20px;
        /* bottom: 100px; */
    }

    .section_5 .proklamasi {
        padding-top: 30%;
    }

    .section_5 .proklamasi img {
        width: 50%;
    }

    .section_5 .proklamasi .audio img {
        width: 80px;
    }

    .image {
        bottom: 5%;
        right: -15%;
    }
}
